@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.signInBtn {
  background-color: aquamarine;
  max-width: 150px;
  text-align: center;
  padding: 8px 16px;
  border-radius: 8px;
  color: black;
  font-size: 15px;
  font-weight: 600;
}
